.cta {
    background-color: goldenrod;
}

.cta__text {
    text-align: center;
    width: 100%;
    height: 50vh;
}

.cta__title {
    font-size: 30px;
}

.cta__link {
    display: block;
    border: 3px solid white;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    text-transform: uppercase;
}

@include mq(tablet) {
    .cta__title {
        font-size: 35px;
    }
}