.homepage {

    .hero {
        position: relative;
        height: 100vh;
        width: 100vw;
        perspective: 1000px;
        perspective-origin: center;
        margin-bottom: 100px;
    }
    
    .hero__title {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        z-index: 1;
        font-size: 135px;
        color: goldenrod;
        margin: 0;
        text-align: center;
        line-height: 1;
    }

    .hero__subtitle {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 70%;
        padding: 25px 15px;
        background-color: white;
        margin: 0;
        text-align: center;
        font-size: 40px;
    }
    
    .hero__image {
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('/cover-min.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        height: 100%;
        width: 100%;
        margin: 0;
        opacity: 1;
        mix-blend-mode: color-dodge;
    }
    
    @media (max-width: 991px) {
        .hero__title {
            font-size: 100px;
        }
    }
    
    @media (max-width: 767px) {
        .hero__title {
            font-size: 70px;
        }
    }

    .services__title {
        font-size: 30px;
        text-align: center;
    }

    .service {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1280px;
        margin: 0 auto;
    }

    .service--right {
        & > .service__text {
            order: 1;
        }

        & > .service__image {
            order: 2;
        }
    }

    .service__image {
        flex: 3;

        & > img {
            max-width: 600px;
        }
    }

    .service__text {
        flex: 2;
    }

    .cta {
        position: relative;
        min-height: 300px;
        background-color: goldenrod;
    }

    .cta__wrapper {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        text-align: center;
    }

    .cta__title {
        font-size: 40px;
        margin-top: 0;
    }


}