html, body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color: white;
}

* {
    box-sizing: border-box;
}


@import "./grid.scss";
@import "./sass-mq.scss";
@import "./homepage/homepageIndex.scss";